body{
    padding: 0;
    margin: 0;
}
.header{
    position: relative;
    width: 100%;
    padding-top: 40px;
    height: auto;
    background-color: #f5e9da;
}

/*----------nav section----------*/
.site-name a{
    font-family: work sans;
    font-size: 33px;
    text-decoration: none;
    color: #ff900e;
}
.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: work sans;
}
.menu ul li a{
    padding-right: 30px;
    font-size: 30px;
    text-decoration: none;
    
    
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 240px;
    padding-right: 240px;
}

/*----------header content section----------*/
.header-h1{
    font-size: 20px;
    padding-top: 205px;
    margin: auto 529px auto;
    text-align: center;
}
#p-1{
    text-align: center;
    font-size: 22PX;
    line-height: 26px;
}
#header{
    font-size: 50px;
    line-height: 60px;
    font-family: work sans;
}
.btn-primary{
    background-color: #ff900e;
    color: white;
    padding: 20px 30px 20px;
    border-radius: 5px;
    border: 0px;
    font-weight: 700;
    font-size: 15px;   
}
.banner-img{
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 1440px;
    height: 700px;
    padding-bottom: 50px;
}

/*----------main section start ----------*/
.main-feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding:85px 301px 130px;
    
}
.main-feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 708px;
    height: 708px;
}
.main-feature-article{
    width: 537px;
    height: 304px;
    padding-bottom: 32px;
    
}

.feautre-heading{
    font-size: 45px;
    font-family: work sans;
    color:rgb(118, 114, 114);
}
#span-1{
    color: #ff900e;
}
#p-2{
    font-size: 18px;
    line-height: 26px;
}
/*--------more-work-feature section --------*/

.more-work-feature{
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    height: 1059px;
    grid-template-columns: repeat(2, 1fr);
}
#more-work-header{
    font-family: work sans;
    font-size: 30px;
    border-left: 5px solid #ff900e;
    padding-left: 10px;
}
.more-work-article{
    width: 586px;
    height: 982px;
    justify-content: center;
    align-items: center;
    

}
.more-work-img{
    position: relative;
    width: 800px;
    height: 1059;
   
    
}
.more-work-img img{
    margin-left: 70px;
}
#experienced{
    position: absolute;
    font-family: work sans;
    font-weight: 700;
    font-size: 40px;
    color: white;
    background-color: #ff900e;
    padding: 40px 50px 40px;
    border-radius: 10px;
    border-style: none;
    bottom: 0;
    left: 0;
}
#ex-span{
    font-size: 20px;
}
.more-work-description{
    width: auto;
    height: 171px;
    border-radius: 5px;
    margin: 20px auto 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.more-work-description h3, p{
    padding:15px 20px 15px;

}
.Project-container{
    margin-top: 200px;
    text-align: center;
    font-family: work sans;
    line-height: 15px;
     
}
.Project-container h3{
    font-size: 45px;
}
.Project-container h4{
    font-size: 25px;
    color: #ff900e;
}
.Project-image{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.Project-image img{
    margin-top: 50px;
    border-radius: 8px;
}
/*--------achivement section --------*/
.achivement-container{
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center; 
}
#achivement-header{
    font-family: work sans;
    font-size: 45px;
}
.achivement-div{
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}
.achivement-project{
    padding-top: 40px;
    width: 242px;
    height:150px ;
    border:1px solid #ff900e ;
    border-radius: 8px;
}
.span{
    font-family: work sans;
    font-size: 40px;
}
/*--------sponsor section start--------*/
.sponsor-section{
    text-align: center;
    margin-top: 200px;
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
}
.sponsor-heading{
    font-family: work sans;
    font-weight: 700;
    font-size: 45px;
    color: rgb(79, 78, 78);
}
.sponsor-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
    margin-top: 75px;
}
.sponsor-img img{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}
/*--------footer section start--------*/
.footer{
    width: 100%;
    height: 150px;
    margin-top: 130px;
    background-color: #f5e9da;
    font-size: 20px;
    text-align: center;
    padding-top: 45px;
    font-weight: 700;
}